// Active Tab, Button, Outline, Highlight, Link Onhover
$primary_dark: #000;
$primary_blue: #009AD8;
$primary_white: #fff;
$primary_gray: #4A4A49;

// Price, Newsletter Subscription Form and Button, Form Highlight
$orange_highlight: #FF7612;

// Backgrounds
$light_bg: #ffffff;
$lightblue_bg: #cdeefc;
$lightgray_bg: #F6FDFF;
$selection_bg: #F2FAFD;
